body {
    background-color: #031434;
}
/* Navigation styles */
nav {
    background-color: #30415d;

}

p, h1, h2 {
    color: white;
}
p {
    font-size: 20px;
}

.navLink {
    color: white;
}

/* main content */
.main {
    background-color: #30415d;
    margin: 30px auto;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 20px 0 0 0;
   
}

.card-body {
    background-color: #30415d;
    color: white;
    padding: 0;
    
}

.card {
    margin: 30px auto;
}

.card-header {
    background-color: #031434;
}